<ion-header>
  <ion-toolbar>
    <ion-title>read</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-app>   

        <ion-tabs>
          <!-- Tab bar -->
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="account" [routerLink]="['/home']" routerdirection="forward">
              <ion-icon name="person"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="create" [routerLink]="['/read']" routerdirection="forward">
              <ion-icon name="create"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="settings" [routerLink]="['/profile']" routerdirection="forward">
              <ion-icon name="settings"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
    </ion-app> 
  </ion-content>