<ion-header>
  <ion-toolbar>
    <ion-title>comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="lerQrCode()" expand="block" primary>
    <ion-icon name="qr-scanner"></ion-icon>
    Ler Comanda
  </ion-button>

  <ion-label>{{ retornoQR }}</ion-label>

  <ion-button (click)="abrirModalCardapio()" expand="block">
    Cardápio
  </ion-button>

  <ion-button (click)="abrirModalComanda()" expand="block">
    Minha Comanda
  </ion-button>

  <ion-button (click)="abrirModalPagamento()" expand="block">
    Pagar conta
  </ion-button>
</ion-content>
