<ion-header translucent>
  <ion-toolbar>
    <ion-title>Minha comanda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
<!-- Hamburguers-->
<div>
    <h5 class="feature-title">Minha comanda</h5>
    
    <ion-list>
      <ion-item *ngFor="let item of items | async">
        <ion-label>
          {{ item | json }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button expand="full" href="/pagamento">Pagar</ion-button>
  
</ion-content>