<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pagar conta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Back()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>
            Valor total
          </ion-col>
          <ion-col>
            R$ {{valorTotal}}
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="secondary" expand="full" [disabled]="disabled" (click)="pagarComPaypal()"><ion-icon name="card"></ion-icon> Pagar com PayPal</ion-button>
    </ion-card-content>
  </ion-card>
  {{retornoPaypal}}
</ion-content>