ion-toolbar {
    --ion-toolbar-background: #FDB813;
    --border-width: 0 0 0.0px !important;
}

ion-title {
    top: 5%;
    font-size: 20px;
}

.feature-title{
    color: #4B4237;
    font-weight: 1000;
    margin-top: 15px !important;
    margin-left: 10px !important;
}

.border-img{
    border: 2px solid #702C91;
    width: 45px !important;
    height: 45px !important;
}

.item-title{
    color: #4B4237;
    font-weight: 700;
    width: 80%;
}

ion-item{
    border-bottom: 2px solid #4B4237 !important;
    padding: 5px 0px !important;

}

ion-list{
    margin-top: 20px !important;

}

ion-label{
    border: 0px !important;
}



.item-description{
    color: #4B4237;
    font-size: 100;
    font-size: 12px;
    font-style: italic;
    width: 80%;
}

.item-price{
    color: #4B4237;
    position: absolute;
    right: 0;
    bottom: 13px;
}

ion-item {
    --inner-border-width: 0px;
}