<ion-header translucent>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="saveContato()">
    <div align="center" class="photo">
      <ion-avatar item-start class="avatar">
        <ion-button (click)="openGalery()">
          <ion-icon class="icon" name="camera"></ion-icon>
        </ion-button>
        <img [src]="downloadUrl | async" *ngIf="downloadUrl | async" />
      </ion-avatar>
      <!--
      <ion-avatar item-start>
        <ion-img src="./assets/icon/eu.jpg" text-right></ion-img>
      </ion-avatar>
      -->
    </div>
    <div class="form">
      <ion-list>
        <ion-item>
          <ion-label>Nome completo</ion-label>
          <ion-input type="text" name="name" formControlName="nome" >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>CPF</ion-label>
          <ion-input type="text" name="cpf" formControlName="cpf"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Celular</ion-label>
          <ion-input type="text" name="celular" formControlName="celular" mask="(99) 9 9999-9999">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Aniversário</ion-label>
          <ion-datetime required name="birthdate" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"
            formControlName="datanasc"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select placeholder="Select One" formControlName="sexo">
              <ion-select-option value="f">Feminino</ion-select-option>
              <ion-select-option value="m">Masculino</ion-select-option>
            </ion-select>
          </ion-item>
        <!--
        <ion-item>
          <ion-label>Informe seu cep </ion-label>
          <ion-input type="text" placeholder="26112-230" name="cep" formControlName="cep"></ion-input>
        </ion-item>
        <ion-button class="button button-block button-positive" (click)="buscarEndereco()">Consultar Endereço
        </ion-button>

        <ion-item>
          <ion-label>Logradouro</ion-label>
          <ion-input type="text" readonly placeholder="" formControlName="logradouro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Bairro</ion-label>
          <ion-input type="text" readonly placeholder="" formControlName="bairro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-input type="text" readonly placeholder="" formControlName="cidade"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Numero</ion-label>
          <ion-input type="text" formControlName="numero"></ion-input>
        </ion-item>
        -->
      </ion-list>
    </div>

    <ion-button class="save" expand="full" color="medium" block [disabled]="loading" type="submit">Salvar
    </ion-button>
  </form>
</ion-content>