<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h3>Nature</h3>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <span class="slider-nav arrow-prev"
            (click)="slidePrev(sliderOne,slideWithNav)">
            <div class="prev-icon-custom custon-nav"
              [class.disabled]="sliderOne.isBeginningSlide"></div>
          </span>
        </ion-col>
        <ion-col size="10">

          <ion-slides pager="true" [options]="slideOpts" #slideWithNav
            (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
            <ion-slide *ngFor="let s of sliderOne.slidesItems">
              <img src="./assets/img/{{s.id}}.jpg">
            </ion-slide>
          </ion-slides>

        </ion-col>
        <ion-col size="1">
          <span class="slider-nav arrow-next"
            (click)="slideNext(sliderOne,slideWithNav)">
            <div class="next-icon-custom custon-nav"
              [class.disabled]="sliderOne.isEndSlide"></div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>


    <h3>Food</h3>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <span class="slider-nav arrow-prev"
            (click)="slidePrev(sliderTwo,slideWithNav2)">
            <div class="prev-icon-custom custon-nav"
              [class.disabled]="sliderTwo.isBeginningSlide"></div>
          </span>
        </ion-col>
        <ion-col size="10">

          <ion-slides pager="true" [options]="slideOpts" #slideWithNav2
            (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
            <ion-slide *ngFor="let s of sliderTwo.slidesItems">
              <img src="./assets/img/{{s.id}}.jpg">
            </ion-slide>
          </ion-slides>

        </ion-col>
        <ion-col size="1">
          <span class="slider-nav arrow-next"
            (click)="slideNext(sliderTwo,slideWithNav2)">
            <div class="next-icon-custom custon-nav"
              [class.disabled]="sliderTwo.isEndSlide"></div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3>Fashion</h3>

    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <span class="slider-nav arrow-prev"
            (click)="slidePrev(sliderThree,slideWithNav3)">
            <div class="prev-icon-custom custon-nav"
              [class.disabled]="sliderThree.isBeginningSlide"></div>
          </span>
        </ion-col>
        <ion-col size="10">

          <ion-slides pager="true" [options]="slideOpts" #slideWithNav3
            (ionSlideDidChange)="SlideDidChange(sliderThree,slideWithNav3)">
            <ion-slide *ngFor="let s of sliderThree.slidesItems">
              <img src="./assets/img/{{s.id}}.jpg">
            </ion-slide>
          </ion-slides>

        </ion-col>
        <ion-col size="1">
          <span class="slider-nav arrow-next"
            (click)="slideNext(sliderThree,slideWithNav3)">
            <div class="next-icon-custom custon-nav"
              [class.disabled]="sliderThree.isEndSlide"></div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <script>
      const searchbar = document.querySelector('ion-searchbar');
      const items = Array.from(document.querySelector('h3').children);

      searchbar.addEventListener('ionInput', handleInput);

      function handleInput(event) {
        const query = event.target.value.toLowerCase();
        requestAnimationFrame(() => {
          items.forEach(item => {
            const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
            item.style.display = shouldShow ? 'block' : 'none';
          });
        });
      }
    </script>


  </ion-content>