ion-toolbar {
    --ion-toolbar-background: #fdb813;
    --border-width: 0 0 0px !important;
  }
  
  ion-title {
    top: 5%;
    font-size: 20px;
  }
  
  .icon {
    background-color: transparent !important;
    font-size: 50px;
    margin-top:50%;
    margin-left: 3%;
  }
  
    ion-avatar {
      ion-button {
    --padding-start: 10%;
    --padding-end: 10%;
    --background: transparent !important;
    --background-focused: transparent !important;
    --background-hover: transparent !important;
    }
  }
  
  
  .form {
    margin-top: 5%;
  }